<div class="container">
  <h1>To-Do application</h1>
  <hr>
  <form id="submitForm" (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="mb-3">
      <input type="text" class="form-control" id="task" placeholder="Enter task" ngModel name="task" required>
      <div *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required field</div>
    </div>
    <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Submit</button>
  </form>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Completed</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
        <th scope="col">Save</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of taskArray; index as i">
        <td>
          <input #taskInput [ngClass]="{'edit': t.isEditable , 'not-edit': !t.isEditable , 'crossed': t.isCompleted}" type="text" class="form-control" id="taskInTable" value="{{t.taskName}}" [readonly]="!t.isEditable">
        </td>
        <td><input (change)="onChecked(i)" type="checkbox" name="" id="myCheckbox" ></td>
        <td><button id="delete" class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
        <td><button id="edit" class="btn btn-primary btn-sm" (click)="onEdit(i)" [disabled]="t.isEditable">Edit</button></td>
        <td><button id="save" class="btn btn-warning btn-sm" (click)="onSave(i, taskInput.value)" [disabled]="!t.isEditable">Save</button></td>     
      </tr>
    </tbody>
  </table>
</div>